@charset "UTF-8";

*{

    box-sizing: border-box;font-family: 'roboto', Arial, Helvetica, sans-serif;
}

header > h1{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.336);
}

body{
    background-color: dodgerblue;
    height: 100vh;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.295);
}

footer{
    color:white;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.541);
    font-style: italic;
    font-size: 1.3em;;
}

div#info{
    text-align: center;
}

div#img > #manha {
    width: 250px;
    margin: auto;
    padding: 20px;
   display: block;
}

div#img > #tarde {
    width: 250px;
    margin: auto;
    padding: 20px;
   display: block;
}

div#img > #noite {
    width: 250px;
    margin: auto;
    padding: 20px;
   display: block;
}